$def with (statusinfo)
<!DOCTYPE html>
<html lang="en">
<head>      <!-- META -->
    <title>Status</title>
    
    <link rel="icon" href="/images/favicon.ico"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <script type="text/javascript" src="/js/libs.combined.js"></script>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/lib/iCheck/jquery.icheck.min.js"></script>
    <script type="text/javascript" src="/yui3/build/yui/yui-min.js"></script>
    <!--script type="text/javascript" src="/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="/yui/build/treeview/treeview-min.js"></script-->
    <script type="text/javascript" src="/js/status.js"></script>

    <link type="text/css" rel="stylesheet" href="/js/lib/iCheck/skins/minimal/minimal.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="all"/>
    
</head>

<body>
<header class="main-header">
    <div class="header-content">
      <a href="/" class="header_mobile_logo"></a>
      <a class="mobile_icon" onclick="toggle_mobile_nav();"></a>
      <nav class="top-nav" role="navigation">
        <ul id="navigation">
          <li class="home">
            <a href="http://www.klp.org.in" title=""><h1>Karnataka Learning Partnership</h1></a>
          </li>
          <li class="school_map">
            <a href="http://www.klp.org.in/map" title="">School Map</a>
          </li>
          <li class="programmes">
            <a href="http://www.klp.org.in/text/reading" title="">Programmes</a>
            <ul>
              <li><a href="http://www.klp.org.in/text/reading" title=""><span></span>Akshara</a></li>
              <li><a href="http://www.klp.org.in/text/sikshana" title=""><span></span>Sikshana</a></li>
            </ul>
          </li>
          <li class="volunteer"><a href="http://www.klp.org.in/text/volunteer" title="">Volunteer</a></li>
          <li class="database">
            <a href="http://www.klp.org.in/listFiles/2" title="">Data</a>
            <ul>
              <li><a href="http://status.klp.org.in" target="_blank" title=""><span></span>Status</a></li>
              <li><a href="http://www.klp.org.in/listFiles/2" target="_blank" title=""><span></span>Raw Data</a></li>
              <li><a href="http://github.com/klpdotorg" target="_blank" title=""><span></span>Code</a></li>
            </ul>
          </li>
          <li class="reports">
            <a href="http://www.klp.org.in/text/reports" title="">Reports</a>
            <ul>
              <li><a href="http://dise.klp.org.in" target="_blank" title=""><span></span>DISE</a></li>
              <li><a href="http://reports.klp.org.in" target="_blank" title=""><span></span>KLP Reports</a></li>
              <li><a href="http://sslc.klp.org.in" target="_blank" title=""><span></span>SSLC</a></li>
	      <li><a href="http://ivrs.klp.org.in" title=""><span></span>IVRS</a></li>
              <li><a href="http://www.klp.org.in/text/reports" title=""><span></span>Other Reports</a></li>
            </ul>
          </li>
          <li class="about">
            <a href="http://www.klp.org.in/text/aboutus" title="">About</a>
            <ul>
              <li><a href="http://www.klp.org.in/text/aboutus" title=""><span></span>About</a></li>
              <li><a href="http://www.klp.org.in/text/partners" title=""><span></span>Partners</a></li>
              <li><a href="http://www.klp.org.in/text/disclaimer" title=""><span></span>Disclaimer</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="clr"></div>
    </div>
  </header>

   
<body class="yui-skin-sam" onload="initialise($statusinfo)">

<!-- header -->


  <div class="page-status">
    <div class="container">
      <h1 class="bordered turquoise">Status</h1>

      <p class="ta_c">
        This data is collected and maintained by Karnataka Learning Partnership for providing people a holistic view of the public education profile of their respective regions.
      </p>      
    </div>
    <section>
      <div class="page-section-heading-with-menu">
        <div class="container">
          <div class="heading"><h2>Select a data type</h2></div>
        </div>

        <div class="sub-sections-list">
          <ul>
            <li id="preschool" class="active">
              <a href="" onClick="loadData('preschool');return false;" title="">Pre-School</a>
            </li>
            <li id="school" >
              <a href="" onClick="loadData('school');return false;" title="">School</a>
            </li>
            <li id="sslc">
              <a href="" onClick="loadData('sslc');return false;" title="">SSLC</a>
            </li>
            <li id="programmes">
              <a href="" onClick="loadData('programmes');return false;" title="">Current Programmes</a>
            </li>
          </ul>
        </div>
        <div class="options-wrapper" id="select_panel">
          <div class="option_item" id="district"> District
            <select id="district_select" onChange="loadDistrictData()"></select>
          </div>
          <div class="option_item" id="block"> Project
            <select id="block_select" onChange="loadBlockData()"></select>
          </div>
          <div class="option_item" id="cluster"> Circle
            <select id="cluster_select" onChange="loadClusterData()"></select>
          </div>
        </div>
        <div class="options-wrapper" id="select_panel">
          <div class="option_item" id="school_sel"> Preschool
            <select id="school_select" onChange="loadSchoolData()"></select>
          </div>
          <div class="option_item" id="class_sel"> Class
            <select id="class_select" onChange="loadClassData()"></select>
          </div>
      </div>
    </section>


<section class="ie-z-index-fix">

      <div class="container">
        <div id="load_data"></div>
      </div>
</section> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="css/jquery.js"></script>
    <script src="css/bootstrap-transition.js"></script>
    <script src="css/bootstrap-alert.js"></script>
    <script src="css/bootstrap-modal.js"></script>
    <script src="css/bootstrap-dropdown.js"></script>
    <script src="css/bootstrap-scrollspy.js"></script>
    <script src="css/bootstrap-tab.js"></script>
    <script src="css/bootstrap-tooltip.js"></script>
    <script src="css/bootstrap-popover.js"></script>
    <script src="css/bootstrap-button.js"></script>
    <script src="css/bootstrap-collapse.js"></script>
    <script src="css/bootstrap-carousel.js"></script>
    <script src="css/bootstrap-typeahead.js"></script>

  
<div class="footer">
   <div id="lastupdated" class="container"></div>
</div>
  <div class="container">   
<center><h5>&copy; 2012 Karnataka Learning Partnership</h5></center></div>
</div>

</body></html>
